---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import IntroForm from '../components/IntroForm.astro';
import SocialLinks from '../components/SocialLinks.astro';
---

<Layout title="Crochet Bag - Variety Gifts Unlimited">
  <main class="bg-[#ddd0fc] min-h-screen text-white py-8 px-4">
    <div class="container mx-auto max-w-2xl">
      <Hero img="" />
  <div class="grid-container grid grid-cols-3 gap-4">
    <div class="grid-item"><img src="/bags/1.webp" alt="Bag 1"></div>
    <div class="grid-item"><img src="/bags/2.webp" alt="Bag 2"></div>
    <div class="grid-item"><img src="/bags/3.webp" alt="Bag 3"></div>
    <div class="grid-item"><img src="/bags/4.webp" alt="Bag 4"></div>
    <div class="grid-item"><img src="/bags/5.webp" alt="Bag 5"></div>
    <div class="grid-item"><img src="/bags/6.webp" alt="Bag 6"></div>
    <div class="grid-item"><img src="/bags/7.webp" alt="Bag 7"></div>
    <div class="grid-item"><img src="/bags/8.webp" alt="Bag 8"></div>
    <div class="grid-item"><img src="/bags/9.webp" alt="Bag 9"></div>
    <div class="grid-item"><img src="/bags/10.webp" alt="Bag 10"></div>
    <div class="grid-item"><img src="/bags/11.webp" alt="Bag 11"></div>
    <div class="grid-item"><img src="/bags/12.webp" alt="Bag 12"></div>
  </div>
    </div>
  </main>
</Layout>

  
  