---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Variety Gifts Unlimited - Unique and Fun Gifts" hideHeader={false}>
    <h1>Welcome to the Game Browser</h1>
    <div class="flex flex-col w-full justify-center items-center">
            <a href="/hoops/index.html">
        <div class="game mb-2 ">
            <h2 class="text-white">Basketball Shoot Out</h2>

                <img src="/game/shootout.png" alt="Flappy Stacks Art" style="width: 300px; height: auto;" />
                <div class="button">
                Play Now
            </div> </a>
        </div>
    </a>
        <div class="game hidden">
            <h2 class="text-white">Savings Box Anthology</h2>
            <a href="/savings-box-anthology" class="button">Learn More</a>
        </div>
    </div>
</Layout>

<style>
    h1 { 
        text-align: center; 
        margin-bottom: 20px; 
        font-size: 36px; 
    }
    .game { 
        max-width: 50%;
        border: 2px solid #fff; 
        border-radius: 10px; 
        padding: 20px; 
        text-align: center; 
        background: rgba(0, 0, 0, 0.7); 
        transition: transform 0.3s;
    }
    .game h2 { 
        margin: 0; 
        font-size: 24px; 
        margin-bottom: 15px; 
    }
    .game:hover { 
        transform: scale(1.05); 
    }
    .button { 
        margin-top: 10px; 
        padding: 10px; 
        background-color: #007BFF; 
        color: white; 
        border: none; 
        border-radius: 5px; 
        cursor: pointer; 
        text-decoration: none;
        transition: background-color 0.3s;
    }
    .button:hover { 
        background-color: #0056b3; 
    }
    .container { 
        display: flex; 
        flex-direction: column;
        justify-content: space-around; 
        width: 80%; 
        flex-wrap: wrap;
    }
    @media (max-width: 768px) {
        .container {
            flex-direction: column;
            align-items: center;
        }
        .game {
            margin-bottom: 20px;
        }
    }
</style>