---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Carousel from '../components/Carousel.astro';
import Header from '../components/Header.astro';
import Circle from '../components/Circle.astro';
---

<Layout title="Variety Gifts Unlimited - Unique and Fun Gifts"
>
	<main class="p-5 w-full flex flex-col gap-4 items-center overflow-x-hidden relative">
		<Hero img="" />


		<div class="max-w-3xl w-full grid grid-cols-2 gap-4 relative z-10">
			<a href="/game-browser" class="w-full h-32 md:h-64">
				<button class="btn btn-secondary w-full h-32 md:h-64 text-3xl">Games</button>
					<span class="absolute -top-2 -left-2 bg-accent text-white text-xs px-2 py-1 rounded-full font-bold animate-pulse">NEW</span>
			</a>
			<a href="/pet-converter" class="w-full h-32 md:h-64">
				<button class="btn btn-accent w-full h-32 md:h-64 text-3xl">Pet Converter</button>
			</a>
			<a href="/intro" class="w-full h-32 md:h-64">
				<button class="btn btn-primary w-full h-32 md:h-64 text-3xl">
					Intro Maker
				</button>
			</a>
			<a href="/shop" class="w-full h-32 md:h-64">
				<button class="btn btn-primary w-full h-32 md:h-64 text-3xl">Gift Shop</button>
			</a>
		</div>

		<div style="height: 20px;" class="w-full relative z-0">
			</div>
	</main>
	<Footer />
</Layout>


<style></style>
