---
import Layout from '../layouts/Layout.astro';
import GameButton from '../components/GameButton.astro';
---

<Layout title="Variety Gifts Unlimited - Unique and Fun Gifts" hideHeader={true}>
  <main class="pb-32 w-full flex flex-col gap-4 items-center overflow-x-hidden relative">
    <div class="h-screen relative p-0 flex flex-col md:block items-center justify-center">
      <img 
        src="/logos/bg.png" 
        alt="Variety Gifts Unlimited" 
        class="" 
      />
      <img 
        src="/logos/logo.png" 
        alt="Variety Gifts Unlimited" 
        class="" 
      />
    </div>

    <div class="mt-8">
      <h1 class="text-6xl font-bold ">Welcome!</h1>
      <p class="mt-4 text-md md:text-lg max-w-3xl">
        Discover a world of unique and fun gifts at Variety Gifts Unlimited. Whether you're looking for the latest games or delightful presents, we've got something special just for you!
      </p>
    </div>

    <div class="max-w-3xl w-full grid grid-cols-2 gap-4 relative z-10 mt-8">
      <GameButton 
        href="/shop"
        title="Gift Shop"
        imageUrl="/etc/presents.png"
        imageClass=""
      />
      <GameButton 
        href="/game-browser"
        title="Games"
        imageUrl="/game/shootout.png"
        imageClass=""
        isNew={true}
      />
    </div>
    <!--<script async src="https://api.lindy.ai/api/lindyEmbed/lindyEmbed.js?a=ebd4b389-96ef-4acf-90b3-36eaadb961d1" crossorigin="use-credentials"></script>-->
  </main>
</Layout>

<style>
  .btn {
    position: relative;
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
  }

</style>