---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Carousel from '../components/Carousel.astro';
import Header from '../components/Header.astro';
import Circle from '../components/Circle.astro';
---

<Layout title="Variety Gifts Unlimited - Unique and Fun Gifts"
>
	<main class="p-5 w-full flex flex-col gap-4 items-center overflow-x-hidden relative">
		<Hero img="" 
		body="wishes YOU a happy November" />


		<div class="opacity-80 w-full max-w-2xl flex justify-center gap-4 relative z-10">
			<a href="/game/savingsbox.html" class="w-1/2">
				<button class="btn btn-secondary w-full">Games</button>
			</a>
			<a href="/pet-converter" class="w-1/2">
				<button class="btn btn-accent w-full">Pet Converter</button>
			</a>
		</div>


		<section id="cards" class="w-full max-w-3xl px-4 grid grid-cols-1 md:grid-cols-2 gap-8 justify-items-center relative z-10">
			<Card img="/tanner/tannerlogo.png" 
			title="Tanner Sticker" 
			body="woah!!" 
			sticker="true"
			href="tanner-sticker"></Card>

			<Card img="/box.webp" 
			title="Savings Box" 
			body="woah!!" 
			href="savings-box"></Card>

			<Card img="/snorlax.webp" 
			title="Snorlax Plushie" 
			body="woah!!" 
			href="snorlax"></Card>

			<Card img="/dog1.webp" 
			title="Dog Plushie" 
			body="woah!!" 
			href="dog"></Card>

			<Card img="/shaving/2.webp" 
			title="Shaving Cape" 
			body="woah!!" 
			href="shaving"></Card>

			<Card img="/bags/2.webp" 
			title="Crochet Bag" 
			body="woah!!" 
			href="crochet-bag"></Card>
		</section>
	</main>
	<Footer />
</Layout>


<style></style>
