---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Variety Gifts Unlimited - Privacy Policy" hideHeader={true}>
    <main class="w-full bg-white text-black prose max-w-none p-4">
    <h1 class="text-black">Privacy Policy</h1>
    <a class="text-black" href="/">Back to Home</a>

    <p>Last updated: 2024-09-17</p>
    
    <p>Variety Gifts Unlimited ("we", "our", or "us") is committed to protecting your privacy. This Privacy Policy explains how we collect, use, and share information about you when you use our website (varietygiftsunlimited.com) and services.</p>
    
    <h2>Information We Collect</h2>
    <p>We collect information you provide directly to us, such as when you make a purchase, contact us, or participate in any interactive features of our services. This may include your name, email address, postal address, phone number, and payment information.</p>
    
    <h2>How We Use Your Information</h2>
    <p>We use the information we collect to:</p>
    <ul>
        <li>Process your orders and send you order confirmations</li>
        <li>Communicate with you about your orders, products, and services</li>
        <li>Provide customer support</li>
        <li>Improve and develop our website and services</li>
        <li>Comply with legal obligations</li>
    </ul>
    
    <h2>Sharing of Information</h2>
    <p>We may share your information with:</p>
    <ul>
        <li>Service providers who perform services on our behalf</li>
        <li>Law enforcement or other government entities when required by law</li>
    </ul>
    
    <h2>Security</h2>
    <p>We take reasonable measures to help protect your information from loss, theft, misuse, unauthorized access, disclosure, alteration, and destruction.</p>
    
    <h2>Your Choices</h2>
    <p>You may opt out of receiving promotional communications from us by following the instructions in those communications. You may also request to access, correct, or delete your personal information by contacting us.</p>
    
    <h2>Changes to This Privacy Policy</h2>
    <p>We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
    
    <h2>Contact Us</h2>
    <p>If you have any questions about this Privacy Policy, please contact us at halston (at) sellent .in</p>
    
    <p><a href="index.html">Back to Home</a></p>
    </main>
</Layout>

<style></style>
