<head>
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <!-- <script src="https://www.youtube.com/game_api/v1"></script>
    <canvas id="canvas"></canvas>
    <script src="../yt.ts"></script> -->
    <script src="../scripts/game.ts"></script>
</head>

<div id="container" data-theme="valentine" style="touch-action: none;">
</div>
